.background {
  --_mesh-gradient-blur: 100px;
  --_mesh-gradient-blend-mode: normal;

  background:
    radial-gradient(
      at 22.740841248303933% 56.63265306122449%,
      #0a0a0a 0px,
      transparent 50%
    ),
    radial-gradient(
        at 81.64002123768509% 31.505102040816325%,
        #0c100e 0px,
        transparent 50%
      )
      #0a0a0a;
  mix-blend-mode: var(--_mesh-gradient-blend-mode);
}
